In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../data/2019_YRBS_MO.csv")

In [3]:
data.head()

,site,raceeth,q6orig,q7orig,record,orig_rec,q1,q2,q3,q4,...,q113,q114,q115,q116,q117,q118,BMIPCT,weight,stratum,psu
0,MO,5.0,504.0,190,1,NaN,6,1.0,3.0,2.0,...,1.0,1.0,1.0,8.0,2.0,3.0,96.917611,185.9132,9,2
1,MO,5.0,510.0,NaN,2,NaN,4,2.0,1.0,2.0,...,1.0,1.0,3.0,6.0,2.0,1.0,NaN,237.9787,9,2
2,MO,5.0,510.0,175,3,NaN,4,2.0,1.0,2.0,...,4.0,1.0,1.0,8.0,2.0,1.0,90.176393,237.9787,9,2
3,MO,5.0,501.0,97,4,NaN,3,1.0,1.0,2.0,...,5.0,2.0,1.0,7.0,2.0,2.0,31.202259,195.9828,9,2
4,MO,3.0,511.0,150,5,NaN,3,2.0,1.0,2.0,...,1.0,1.0,1.0,8.0,1.0,1.0,69.598823,354.6217,9,2

In [4]:
data = data.filter(["q1", "q2", "q3", "q19", "q22", "q58", "q59", "q61", 
                    "q62", "q63", "q64", "q65",
                    "q66", "q84", "q92", "raceeth"])

In [5]:
data.head()

,q1,q2,q3,q19,q22,q58,q59,q61,q62,q63,q64,q65,q66,q84,q92,raceeth
0,6,1.0,3.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
1,4,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
2,4,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
3,3,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
4,3,2.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0

In [6]:
data = data.rename(columns = {"q1": "age", "q2": "gender", 
            "q3": "grade", 
            "q19": "physically_forced_sexual_intercourse",
            "q22": "dating_physically_hurt", 
            "q58": "sexual_intercourse_binary",
            "q59": "sexual_intercourse_age",
            "q61": "sexual_intercourse_number",
            "q62": "sexual_intercourse_alcohol/drugs",
            "q63": "sexual_intercourse_condom",
            "q64": "pregnancy_prevention_method",
            "q65": "sexual_contact_gender",
            "q66": "sexuality",
            "q84": "tested_HIV",
            "q92": "exchange_sex"})

In [7]:
data.head()

,age,gender,grade,physically_forced_sexual_intercourse,dating_physically_hurt,sexual_intercourse_binary,sexual_intercourse_age,sexual_intercourse_number,sexual_intercourse_alcohol/drugs,sexual_intercourse_condom,pregnancy_prevention_method,sexual_contact_gender,sexuality,tested_HIV,exchange_sex,raceeth
0,6,1.0,3.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
1,4,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
2,4,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
3,3,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0
4,3,2.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0

In [8]:
data["age"] = data["age"].replace({1:"12 or younger", 2:"13", 3:"14", 4:"15",
                    5:"16", 6:"17", 7:"18 or older"})

In [9]:
data["gender"] = data["gender"].replace({1:"Female", 2:"Male"})

In [10]:
data["grade"] = data["grade"].replace({1:"9th", 2:"10th",
                                      3:"11th", 4:"12th",
                                      5:"Ungraded or other"})

In [11]:
data["physically_forced_sexual_intercourse"] = data["physically_forced_sexual_intercourse"].replace({1:"Yes", 2:"No"})

In [12]:
data["dating_physically_hurt"] = data["dating_physically_hurt"].replace({1:"Did not date or go out in past 12 months", 
                                                                        2:"0 times",
                                                                        3:"1 time",
                                                                        4:"2 or 3 times",
                                                                        5:"4 or 5 times",
                                                                        6:"6 or more times"})

In [13]:
data["sexual_intercourse_binary"] = data["sexual_intercourse_binary"].replace({1:"Yes", 2:"No"})

In [14]:
data["sexual_intercourse_age"] = data["sexual_intercourse_age"].replace({1:"Never had sexual intercourse", 2:"11 or younger", 
                                                                        3:"12", 4:"13", 5:"14", 6:"15",
                                                                        7:"16", 8:"17 or older"})

In [15]:
data["sexual_intercourse_number"] = data["sexual_intercourse_number"].replace({1:"Never had sexual intercourse", 2:"Not in last 3 months", 
                                                                              3:"1 person", 4:"2 people", 5:"3 people",
                                                                              6:"4 people", 7:"5 people", 8: "6 or more people"})

In [16]:
data["sexual_intercourse_alcohol/drugs"] = data["sexual_intercourse_alcohol/drugs"].replace({1:"Never had sexual intercourse", 2:"Yes", 3:"No"})

In [17]:
data["sexual_intercourse_condom"] = data["sexual_intercourse_condom"].replace({1:"Never had sexual intercourse", 2:"Yes", 3:"No"})

In [18]:
data["pregnancy_prevention_method"] = data["pregnancy_prevention_method"].replace({1:"Never had sexual intercourse",
                                                                                   2:"No method",
                                                                                   3:"Birth control pills",
                                                                                   4:"Condoms",
                                                                                   5:"IUD or implant",
                                                                                   6:"Shot, patch, or birth control ring",
                                                                                   7:"Withdrawal or other",
                                                                                   8:"Not sure"
                                                                                  })

In [19]:
data["sexual_contact_gender"] = data["sexual_contact_gender"].replace({1:"Never had sexual contact",
                                                                        2:"Females",
                                                                        3:"Males",
                                                                        4:"Females and males"})

In [20]:
data["sexuality"] = data["sexuality"].replace({1:"Heterosexual",
                                                2:"Gay or lesbian",
                                                3:"Bisexual",
                                                4:"Not sure"})

In [21]:
data["tested_HIV"] = data["tested_HIV"].replace({1:"Yes", 2:"No", 3:"Not sure"})

In [22]:
data["exchange_sex"] = data["exchange_sex"].replace({1:"Yes", 
                                                 2:"No"})

In [23]:
data["raceeth"] = data["raceeth"].replace({1:"American Indian or Alaska Native", 
                                           2:"Asian",
                                           3:"Black or African American",
                                           4:"Native Hawaiian or Other Pacific Islander",
                                           5:"White",
                                           6:"Other",
                                           7:"Hispanic or Latino",
                                           8:"Multiple - Hispanic",
                                           9:"Multiple - non-Hispanic"
                                          })

In [24]:
data.head()

,age,gender,grade,physically_forced_sexual_intercourse,dating_physically_hurt,sexual_intercourse_binary,sexual_intercourse_age,sexual_intercourse_number,sexual_intercourse_alcohol/drugs,sexual_intercourse_condom,pregnancy_prevention_method,sexual_contact_gender,sexuality,tested_HIV,exchange_sex,raceeth
0,17,Female,11th,No,0 times,No,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual contact,Heterosexual,No,No,White
1,15,Male,9th,No,Did not date or go out in past 12 months,No,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual contact,Heterosexual,No,No,White
2,15,Male,9th,No,Did not date or go out in past 12 months,No,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual contact,Heterosexual,No,No,White
3,14,Female,9th,No,Did not date or go out in past 12 months,No,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual contact,Heterosexual,No,No,White
4,14,Male,9th,No,0 times,No,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual intercourse,Never had sexual contact,Heterosexual,No,No,Black or African American